<h1>template</h1>

<p>.</p>


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/d#">Go to #</a>

  <a class="btn btn-info" type="button" href="/d#">Go to #</a>
