<h1>test page</h1>

<p></p>


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/carnival"></a>

  <a class="btn btn-info" type="button" href="/city"></a>
