<h1></h1>

<p></p>


<p><label for="player"><%= @player_name %></label>


  <a class="btn btn-info" type="button" href="/a2">Enter via gate</a>

  <a class="btn btn-info" type="button" href="/a3">Go west to the cellar</a>
