
<h1>Box of unspeakable horrors... or not. </h1>

<p><img src='/img/box.png' alt='box' class="img-responsive center-block"/></p>

<p>Quickly disregarding the warning, and with moderate struggle, you open the box. Inside of the box you see a skeleton key. Next to the key is a piece of paper that reads: </p>
<p>"Well, well, well <%= @player_name.capitalize %> I see you quickly disregarded the warning on the box. (Oh yes, I know your name, and yes, this is soooo super creepy). It's good to know now what kind of person you are-- an awesome person! Only lame-o's pay attention to warnings.
<p>This right here is a key that will open any lock within the carnival, but take note, not all locked places should be opened... *MUAHAHAHAHA!!!*
<p>... I digress.. there are only two ways to enter and that's either through the main gate which layeth before you or head west to the root cellar door ... choose wisely."</p>
<p></p>
<p>"P.S. This note will self destruct in 10 seconds".</p>

<p>Without missing a beat you shout, "GO GO GADGET LEGS"! And you spring away just in time before the note exploded in a gloirous Michael Bay fashion.</p>


<p>You check your hand to make sure you have the key ... you do.</p>


<p><label for="player"><%= @player_name.capitalize %> , how would you like to make your entrance?</label>


  <p><a class="btn btn-info" type="button" href="/a2">Enter via gate</a>  <a class="btn btn-info" type="button" href="/a3">Go west to the cellar</a></p>
