<h1>Gate Entrance</h1>

<p>Why take the chance on a mysterious cellar door when theres a perfectly good one right here, right?! You walk up to the main gate and insert the key into the lock. The gate slowly opens without you even touching it. You pull out your inhaler and take a big, long hit before walking in.</p>
<p>You immediately notice the "Tunnel of Love" and "Killer Krampus" kiddie rides. You also immediately realize that you have never been on an amusement park ride before and what better time to remedy that than now?</p>
<p>You walk up to the ...</p>

  <a class="btn btn-info" type="button" href="/a4">Tunnle of Love</a>

  <a class="btn btn-info" type="button" href="/a5">Killer Krampus Kiddie Ride</a>
