

  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>Gate Entrance</h1>

      <p><img src='/img/gate.jpeg' alt='gate' class="img-responsive center-block"/></p>

      <p>Why take the chance on a mysterious cellar door when theres a perfectly good one right here, right?! You walk up to the main gate and insert the key into the lock. The gate slowly opens without you even touching it. You pull out your inhaler and take a big, long hit before walking in.</p>
      <p>You immediately notice the "Tunnel of Love" and "Killer Krampus Koaster" rides. You suddenly realize that you have never been on an amusement park ride before and what better time to remedy that than now?</p>
      <h4>You walk up to the ...</h4>

        <a class="btn btn-danger" type="button" href="/a4">Tunnel of Love</a>

        <a class="btn btn-danger" type="button" href="/a5">Killer Krampus Koaster Ride</a>

    </div>
  </div>
