<h1>What do we have here?</h1>

<p>After walking for over an hour you catch a glimpse of a wooden object that is virutally covered with moss, sticks, and other annoying nature stuff. You walk up to it and tear away the clutter, revealing a wooden door with the words "Come join the party" onto it.</p>
<p>You've seen way too many movies to know that this can turn out to be really, really good or really, really bad.</p>

<a class="btn btn-info" type="button" href="/a6">Join The Cellar Party</a>
<a class="btn btn-info" type="button" href="/a2">Run Back To The Gate</a>
