<h1>What do we have here?</h1>

<p>After walking for over an hour you catch a glimpse of a wooden object on the ground that is virutally covered with sticks, moss and other annoying nature debris. You walk up to it and brush away the clutter, noticing a message carved into the door:</p>
<p>"Come join the party"</p>
<p>You've seen way too many movies to know that this can turn out to be really, really good or really, really bad.</p>



  <a class="btn btn-info" type="button" href="/a6">Join The Cellar Party</a>
  <a class="btn btn-info" type="button" href="/a2">Run Back To The Gate</a>
