<h1>Tunnel of Oooh-La-Uh-Oh!</h1>

<p>What can you say, you've always had a soft spot for romance. You joyously jump in the 'Herbie the Love Bug' shaped boat. "Groovy", you said you yourself. Just then the doors lock and the ride starts operating on its own. The song "I Wanna Know What Love Is" by Foreigner filled the air and you grabbed the conviently placed box of tissues that's on the dashboard as you start to sob hysterically until you run out of tears and you die from dehydration... and loneliness</p>

<p>THE END</p>



<a class="btn btn-info" type="button" href="/user">Retry</a>
<br>
<br>
<br>
<p><img src='/img/Tunnel-of-Love-design.jpg' alt='Tunnel-of-Love-design' class="img-responsive center-block"/></p>
