<h1>Krampus Koaster</h1>

<p>Krampus is, like, basically your idol and you've always wanted to go on a roller coaster so this was a no-brainer. You festively skip towards the ride and flop down onto the seat. The ride suddenly starts to operate on its own. You presh up against the front of the car to get a view of the carnival when you realize that the tracks several feet ahead are broken.</p>

<p>You quickly look around to see if you can get off this death trap before it's too late. You notice a large tree with branches that </p>


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/carnival"></a>

  <a class="btn btn-info" type="button" href="/c5"></a>
