

  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>Krampus Koaster</h1>

      <p>Krampus is, like, basically your idol and you've always wanted to go on a roller coaster so this choice was a no-brainer. You festively skip towards the ride and flop down onto the seat. The ride suddenly starts to operate on its own. You pressed up against the front of the car to get a view of the carnival when you realize that the tracks several feet ahead are broken.</p>


      <p>You quickly look around to see if you can get off this death trap before it's too late. You notice a large tree that looks like it's high enough that you would be able to jump onto it, or you can jump off onto the tracks behind you and run back down to safety.</p>

      <h4>Time is running out, <%= @player_name.capitalize %> ! Make a decision!</h4>

        <a class="btn btn-danger" type="button" href="/c5">Parkour Onto The Tree</a>

        <a class="btn btn-danger" type="button" href="/a7">Jump On The Tracks</a>

    </div>
  </div>
