


<div class="panel panel-primary panel-transparent">
  <div class="panel-body">

    <h1>Lets hope theres wine in that cellar</h1>

    <p>You weighed the choices and thought a 50/50 chance are the best odds that you're ever going to get. You Hulk-smashed through the door and shouted, "I'M <%= @player_name.upcase() %> AND I LIKE TO PARTY"!</p>

    <p>You look around the room to find that you barged into a LAN party. Everyone is so deep into some progidious game to even notice you were there. You were about to turn around when you saw an empty seat by a computer. You felt compelled to go over and sit down. The computer screen flashes: "What 'tis thou's slayer name?"
    <p>Without hesitation you enter your name and clicked "Make it so!"</p>
    <p>You become hypnotized by the games magnificentness that you swear it was designed by four code wizards. You end up spending the rest of your life in the cellar, stuck in a Tron-like (but way cooler than Tron) game expereince.</p>
    <h4>THE END</h4>



    <a class="btn btn-danger" type="button" href="/user">Play Again</a>
    <br>
    <br>
    <p><img src='/img/lan.jpg' alt='LAN Party' class="img-responsive center-block"/></p>

  </div>
</div>
