<h1>I knew you were a die hard Celine Dion fan...</h1>

<p>As you set course for the first tunnel the rushing water begins to pick up the pace, causing your love-car-boat to become extremely unstable. You end up tumbling around all over the place, trying to hold on for dear life when all of a sudden you feel something hard hitting you on the back of the head. Everything goes black.</p>
<p>You wake up to find that no


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/carnival"></a>

  <a class="btn btn-info" type="button" href="/city"></a>
