<h1>Laces Out</h1>

<p>You despise trees and would rather jump off onto the tracks than ever touch one. You turn around on your seat and as you prepare to dive off you stumble over your loose shoelaces and fall over the side where your body spontaneously combusts in a dazzling Michael Bay fashion.</p>

<p>THE END</p>

<a class="btn btn-info" type="button" href="/user">Try Your Luck Again</a>
