

<div class="panel panel-primary panel-transparent">
  <div class="panel-body">

    <h1>Dead In Your Tracks</h1>

    <p>You could never forget about the Great Tree War of '78 and what they did to your prize winning petunias. You would rather take the risk of on jumping onto the tracks than trust a tree. You turn around on your seat and as you prepare to dive off you trip over a loose shoelace and tumble over the side where your body spontaneously combusts in a way that even Michael Bay would be in awe.</p>

    <p>You should have let the past go. Besides, it was your war-bred petunias that started the whole war in the first place.</p>

    <h4>THE END</h4>

    <a class="btn btn-danger" type="button" href="/user">Try Your Luck Again</a>
    <br>
    <br>

    <p><img src='/img/broken.jpg' alt='broken tracks' class="img-responsive center-block"/></p>


  </div>
</div>
