<h1>Bad Life Choices...your momma was wrong.</h1>

<p>You tell the bird to get bent and it feels great! "I'm the hero of THIS story you say." You turn to face the crowd. "Hey everyone! Over here." You look forward to meeting these new people, making friends and finally getting some answere.</p>

<p>But, it appears your mom was wrong and the bird was right. The crowd soon surrounds you and gleafully tears you appart. As you beg for mercy you hear the metal bird laugh and laugh.</p>

<p>Soon you are dead, and your body scattered over dozens of campfires as the hipsters sing songs, drink craft beer and shake their bearded heads at how stupid you are. </p>





<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/carnival">Start over</a>

  
