<h1>Bird Brain</h1>

<p>You pretend to weigh your options but in truth, you already know."Alright."</p>
<p>"Alright what, <%= @player_name %>? Say it."
  "I'll be your pet."
  King Polly caws. "That's what I expected." His eyes begin to do that glow thing again.
  "Hey look!", you say. "A hipster. You missed one!"
  King Polly snaps his metal bird head where you point. "Bullshit. Where? Where?"
  It took its beedy eyes off you. Bad move. It never sees the sledge hammer swing down on it's metal head. Springs and screws fly everywhere. You give the little tyrant a few more whacks for good measure.
  You shift threw the mess with your foot and laugh. "I'm the hero of THIS story."

  And that's when you see two mysterious doors. You sniff. And you're hungry.
</p>


<p><label for="player"><%= @player_name %>, what door?</label>


  <a class="btn btn-info" type="button" href="/a4">Blue</a>

  <a class="btn btn-info" type="button" href="/c1">Red</a>
