

<h1>Food Truck</h1>

<p>The food truck is very new and very clean and as you approach you notice a pleasant looking fellow inside. This seems odd considering his city is burning. The name on the side of the truck is "Frank's Flaming Hot Wings". Frank asks, "Hey partner, can I serve you up some wings? </p>


<p> Do you order some wings or do you decide to mozey on in to a Tavern that you see just down the road </p>


  <a class="btn btn-info" type="button" href="/c2">Eat the wings</a>

  <a class="btn btn-info" type="button" href="/c3">Go to Tavern</a>
<img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>