<h1>Stayed in the Tree</h1>

<p>The flood took out the tree and washed you out to sea where you floated on your back for five days. On the fifth day you saw a ship heading your way. You tried to flag it down but it never saw you and inadvertently ran you over and killed you. </p>


<h3> Sorry <%= @player_name %>, would you like to play again?</h3>



  <a class="btn btn-info" type="button" href="/">Play Again</a>