

  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>Stayed in the Tree</h1>

      <p>The flood took out the tree and washed you out to sea where you floated on your back for five days. On the fifth day you saw a ship heading your way. You tried to flag it down but it never saw you and inadvertently ran you over and killed you. </p>


      <h4> Sorry <%= @player_name.capitalize %>, would you like to play again?</h4>



        <a class="btn btn-danger" type="button" href="/user">Play Again</a>

    </div>
  </div>

  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
