<h1>HOT WINGS</h1>

<p>Turns out that Frank makes some damn delicious wings. But they sure are hot! So you ask Frank what he's got to drink.
He replies that he serves only milk or a special punch that his uncle makes. Your mouth is on fire so you're gonna need one of them...</p>


<p> What's gonna be your choice <%= @player_name %>?</p>


  <a class="btn btn-info" type="button" href="/c4">The Milk</a>

  <a class="btn btn-info" type="button" href="/c5">The Punch</a>
  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
