<h1>Tavern</h1>

<p>You walk through the tavern doors only to find that you have just trespassed onto an outlaw biker gang's turf where they proceed to beat you to death</p>
<h3> Sorry <%= @player_name %>, would you like to play again?</h3>



  <a class="btn btn-info" type="button" href="/">Play Again</a>
<img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>