<h1>Milk</h1>

<p>Turns out that Frank serves some damn great milk to. But angry mobs are gathering and the fires are getting closer. Frank tells you that he is going to stick around to protect his truck but he implores that YOU take his Porsche and make it to saftey. You jump in his Porsche and speed down the street. As you are driving your cell phone rings, it's your mom. She says, "you know <%= @player_name %>,... I was just thinking...". JUST Then BAM! A tire blows and you skid into a small lake on the side of the road. Your windows are down and Frank's Porsche is filling up with water.</p>


<p>Do you swim out the driver's window or the passenger window?</p>


  <a class="btn btn-info" type="button" href="/c6">Driver's</a>

  <a class="btn btn-info" type="button" href="/c7">Passenger's</a>
  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>