

  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>What The...</h1>

      <p>You wake up in a tree. The last thing you rembemer was eating some wings. Fortunately there is a treehouse in this tree and this treehouse has a tv! You turn it on and see that there are only two channels. One has The Weather Channel, the other cartoons.</p>


      <p><h4>You have got to select a channel, What's it going to be?</h4></p>


        <a class="btn btn-danger" type="button" href="/c8">The Weather Channel</a>

        <a class="btn btn-danger" type="button" href="/c9">Cartoons</a>

    </div>
  </div>

  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
