

  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>Driver's</h1>

      <p>Just as you're swimming out of the driver's side window you are swallowed by a giant Russian beluga sturgeon and you die...</p>

      <h4> Sorry <%= @player_name %>, would you like to play again?</h4>



        <a class="btn btn-danger" type="button" href="/user">Play Again</a>

    </div>
  </div>

  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
