<h1>Passenger's Window</h1>

<p>You swim out the window and make it to shore safely. Once on shore you hear music in the distance. So you head towards it. The walk is farther than you expected but nine days later you end up at Coachella. There you see your best friend from junior high school. Your friend says, "Hey <%= @player_name %>, I've got some strange pills that you can take but if your hungry you can eat my HOT WINGS instead.</p>


<p> Do you go with the strange pills or eat the HOT WINGS?</p>


  <a class="btn btn-info" type="button" href="/d3">Pills</a>

  <a class="btn btn-info" type="button" href="/c5">HOT WINGS</a>
  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
