<h1>The Weather Channel</h1>

<p>The Weather Channel informs you that a flash flood is headed your way. Do you take your chances and stay in the tree or make a run for it?</p>


<p> What's gonna be your choice <%= @player_name %>?</p>


  <a class="btn btn-info" type="button" href="/c10">Stay in the Tree</a>

  <a class="btn btn-info" type="button" href="/a5">Run for it</a>