<h1>Cartoons</h1>

<p>30 minutes after you started watching stupid kids cartoons you are wiped out and killed by a tornado. You should have tuned in to The Weather Channel...</p>


<h3> Sorry <%= @player_name %>, would you like to play again?</h3>



  <a class="btn btn-info" type="button" href="/">Play Again</a>
  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>