<h1>TEST</h1>

<p></p>


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <button class="btn btn-info" type="submit">Open mystery box</button>

  <button class="btn btn-info" type="submit">Check out the hole</button>
