<h1>Carnival of Creepy Death Vibes </h1>




<p><label for="player"><%= @player_name %>Decisions, decisions..</label>


  <a class="btn btn-info" type="button" href="/a1">Open mystery box</a>
  <a class="btn btn-info" type="button" href="/b1">Check out the noise</a>
