<h1>Carnival of Creepy Death Vibes </h1>

<p>You come across the entrance of what seems to be an abanded carnival. Naturally, you try the gate. </p>

<p>It's locked. You see a box on the ground. It says Do not open. You also see a small hole in the wall to your right where you hear a faint sound. Someone is whispering "Psssst <%= @player_name %> </p>, get the fuck over here." What do you do?


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/a1">Open mystery box</a>

  <a class="btn btn-info" type="button" href="/b1">Check out the hole</a>
