  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">


      <h1>Carnival of the Creepy Death Vibes</h1>

      <p>You come across the entrance to the abandoned carnival. The gate is locked. You see a box on the ground to your left that says "DO NOT OPEN". You see a small hole in the wall to your right where you hear a faint sound of someone whispering out, "Psst! <%= @player_name %>, come over here..."</p>

      <h4>Time to make a choice <%= @player_name %> do you follow the whisper? Or Go for the Box? </h4>





        <a class="btn btn-danger" type="button" href="/a1">Open mystery box</a>


        <a class="btn btn-danger" type="button" href="/b1">Check out the noise</a>

    </div>
  </div>
