
<h1>Carvinval of the Creepy Death Vibes</h1>

<p>You come across the entrance to the abandoned carnival. The gate is locked. You see a box on the ground to your left that says "DO NOT OPEN". You see a small hole in the wall to your right where you hear a faint sound of someone whispering out, "Psst! <%= @player_name %>, come over here..."</p>





  <a class="btn btn-info" type="button" href="/a1">Open mystery box</a>


  <a class="btn btn-info" type="button" href="/b1">Check out the noise</a>
