<h1>Welcome to the Burning City!</h1>

<p>You approach the burning city and to your dismay you see dead corpes lying in the smoke filled streets.  You approach with apprehension.  Your stomach growls, it feels like you haven't eaten in days.  Looking around your choices seem limited. You see a foodtruck down the street so you wander towards it.  In the distance you hear a rumbling crowd.</p>


<p><%= @player_name %>, do you go for the foodtruck or turn towards the crown noise?</p>





  <a class="btn btn-info" type="button" href="/c1">Go to foodtruck</a>


  <a class="btn btn-info" type="button" href="/d1">Go towards crowd</a>
  <img class="pull-right" style="margin-top:10px" src='/img/alien-monster.png'>
