<h1>Do You Know Who I Am?</h1>

<p>"I'm <%= @player_name.capitalize %>, and I don't have to put up with this.  I'm leaving and I dare anybody here to try and stop me."  Bad idea you quickly realize, you try to fight them off at first but you're quickly overcome by flying fists, kicks and jabs.  This is where your story ends you were beaten within an inch of your life a bloody mess on the street to die slowly.  It was several hours of agony before the rats and pigeons finished you off.  Oh well I quess that's just how it goes.

</p>
<p>
  <h4>RIP <%= @player_name.upcase %>!</h4>
</p>
<a class="btn btn-info" type="button" href="/">Start Again</a>
