<h1>Do You Know Who I Am?</h1>

<p>"I'm <%= @player_name.capitalize %>, and I don't have to put up with this.  I'm leaving and I dare anybody here to try and stop me."  Bad idea I quickly realized, I tried fighting them off at first but was quickly overcome by flying fists, kicks and jabs.  This is where my story ends I was left beaten within an inch of my life a bloody mess on the street to die slowly.  It was several hours of agony before the rats and pigeons got to me to finish me off.  Oh well I quess that's just how it goes. RIP <%= @player_name.upcase %>!

</p>
<a class="btn btn-info" type="button" href="/">Start Again</a>
