<h1>Looking for Shelter!</h1>

<p>As you wander the smokey abandoned city streets looking for some shelter you feel like eyes are on you but don't see anybody around.  Looking around you realize you are close to your uncle Harold's house.  So you run straight there, upon entering you are greeted by good 'ol Uncle Harold and his family. "<%= @player_name.capitalize %> so good to see you, why don't you pull up a chair we were just about to have dinner then start a Netflix marathon." It took a few days before things calmed down in the streets and you were able to safely leave. Years later you were able to tell the story of how you survived when the city was burned down by aliens.
</p>
<a class="btn btn-info" type="button" href="/">Start Again</a>
