<p><img src='/img/CarnivalSlayer2.png' alt='CS logo' class="img-responsive center-block"/></p>




<div class="panel panel-primary panel-transparent">
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Panel primary</h3>
  </div> -->
  <div class="panel-body">
    <h1>Greetings, mere mortal!</h1>
    <p>To the most bizarre text adventure game you'll probably ever encounter! Please enter your name before you begin your topsy-turvey adventure!</p>

    <form action="/user" method="post">
      <label for="player">What 'tis thou's slayer name?</label>
      <input id="player" name="user_name" type="text">

      <button class="btn btn-danger">Make it so!</button>

    </form>
  </div>
</div>
