<h1>Alien Carnival Slayer!!!</h1>

<p>Greetings, Slayer, to the most bizarre text adventure game you'll probably ever encounter! Please enter your name before you begin your topsy-turvey adventure!</p>

<form action="/user" method="post">
  <label for="player">What 'tis thou's slayer name?</label>
  <input id="player" name="player" type="text">

  <button type="submit">Make it so!</button>
</form>
