<!DOCTYPE html>
<html>
<head>
  <title>
    Text Adventure Game!
  </title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Snowburst+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/scary.css" type='text/css'>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>

</html>
