<!DOCTYPE html>
<html>
<head>
  <title>
    Text Adventure Game!
  </title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Snowburst+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/scary.css" type='text/css'>



  <style>
body {
  /* This image will be displayed fullscreen */
  background:url('img/background.png') no-repeat center center fixed;

  /* Ensure the html element always takes up the full height of the browser window */
  /*min-height: 100%;

  /* The Magic */
  background-size: cover;
}

</style>


</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>

</body>
	<audio loop="true" autoplay="true">
	<source src="Circus-music.mp3">
	Your browser does not support the audio element.
	</audio>
</html>
