<h1>Field of Despair</h1>

<p>You wake up in an open field. You see an abandoned carnival several yards in front of you. You look behind and see a city up in flames.</p>


<p><label for="player"><%= @player_name %>, what be your move?</label>


  <a class="btn btn-info" type="button" href="/carnival">Go to carnival</a>

  <a class="btn btn-info" type="button" href="/carnival">Go to burning city</a>
