  <div class="panel panel-primary panel-transparent">
    <div class="panel-body">

      <h1>Field of Despair</h1>

      <p>You wake up in an open field. You see an abandoned carnival several yards in front of you. You look turn around and see a city in the distance up in flames.</p>


      <h4><%= @player_name.capitalize %>, where does thou wants to go?</h4>


        <a class="btn btn-danger" type="button" href="/carnival">Go to carnival</a>

        <a class="btn btn-danger" type="button" href="/city">Go to burning city</a>

    </div>
  </div>
